#providers{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
  padding: 30px;
}

img {
    margin: 0 auto;
  }

  .buttons {
    display: flex;
    justify-content: center;
    padding: 30px;
  }

  
button {
    border: 2px solid;
    margin-left: 5px;
    padding: 10px;
    border-radius: 10px;
  }
  